*{
    background: #F3F5FC;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}
.contenedor{
    margin: auto;
    width: 960px;
    height: 550px;
    padding: 5px;
}

.logo{
    padding-top: 10px;
    margin-left: 6%;
    margin-top: 1%;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

.izquierda{
    float: left;
    width: 70%;
    height: 70%;
    border-radius: 24px;

}
#izquierda{
    float: left;
    width: 70%;
    height: 30%;
    border-radius: 24px;
}

.text-input{
    border: none;
    outline: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;
    float: left;
    width: 80%;
    height: 80%;
}

.derecha{
    float: right;
    width: 30%;
    height: auto;
    border-radius: 24px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.munieco{
    margin-left: 2%;
    margin-top: 30%;
    width: 90%;
    height: auto;
    background: #FFFFFF;
}
.noMensajes{
    height: 60%;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    font-weight: bold;
    color: #343A40;
    background: #FFFFFF;
}
.ingresaTexto{
    float: left;
    margin-left: 10%;
    color: #495057;
    width: 80%;
    height: 60%;
    border: none;
    outline: none;
    font-size: 15px;
    text-align: center;
    background: #FFFFFF;
    resize: none;
}

.fa-circle-exclamation{
    font-size: 12px;
    line-height: 150%;
    color: #495057;  
}
.soloMinusculas{
    font-size: 12px;
    line-height: 150%;
    color: #495057;    
}

.btn-encriptar{
    cursor: pointer;
    padding: 0;
    width: 300px;
    height: 67px;
    border-radius: 24px;
    margin-left: 15px;
    background: #0A3871;
    border: 1px solid #0A3871;
    /* texto */
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
.btn-encriptar:hover{
    background: #D8DFE8;
    color: #0A3871;
}

.btn-desencriptar{
    cursor: pointer;
    padding: 0;
    width: 300px;
    height: 67px;
    border-radius: 24px;
    margin-left: 15px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    /* texto */
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}
.btn-desencriptar:hover{
    background: #0A3871;
    color: #FFFFFF;
}

.copiar{
    cursor: pointer;
    padding: 0;
    width: 250px;
    height: 67px;
    border-radius: 24px;
    margin-left: 15px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    display: none;
    /* texto */
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}
.copiar:hover{
    background: #0A3871;
    color: #FFFFFF;
}

.footer {
    text-align: center;
    padding: 10px;
    clear: both;

}

.fa-github{
    color: #1b263b;
    margin-left: 1%;
    font-size: 40px;      
}
.fa-github:hover{
    color: #0A3871;
}

.fa-linkedin{
    color: #1b263b;
    font-size: 40px;
}
.fa-linkedin:hover{
    color: #0A3871;
}

.fa-address-card{
    color: #1b263b;
    margin-left: 1%;
    font-size: 40px;     
}
.fa-address-card:hover{
    color: #0A3871;
}

@media (max-width: 768px) {
    .contenedor {
        width: 725px;
        height: 750px;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .logo {
        margin-left: 0;
        margin-bottom: 10px;
        text-align: center;
    }
    .munieco {
        display: none;
    }
    
    .izquierda{
        width: 100%;
        height: 0; 
    }
    .derecha {
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
    }
    #izquierda{
        width: 100%;
        height: 20%;
    }
    .copiar{
        width: 95%;
        height: 56px;
    }
}

@media (max-width: 375px) {
    .contenedor{
        width: 100%;
    }
    #izquierda{
        width: 100%;
        height: 30%;
        display: block;
        margin-bottom: 10px;
    }
    .btn-desencriptar{
        margin-top: 15px;
    }
}